<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evo.mitzoom"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:icon="@mipmap/dips361"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/dips361_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.RatingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MITZoom"/>
        <activity
            android:name=".ui.DipsVideoConfren"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ZMTheme.SubWindow"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.DipsWaitingRoom"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MITZoom" />
        <activity
            android:name=".ui.DipsCapture"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MITZoom" />
        <activity
            android:name=".ui.DipsSplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MITZoom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>